<!-- 注册页 -->

<%- include('./layouts/header.ejs') %>

<%- include("./layouts/nav.ejs") %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card my-5">
        <div class="card-body">
          <h1 class="my-5 dispay-4">Register</h1>

          <form action="/users/store" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                value=""
                placeholder="Pick your username"
              />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                value=""
                placeholder="you@example.com"
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                value=""
                placeholder="Create a password"
              />
            </div>
            <button class="btn btn-primary btn-block my-4" type="submit">
              Create an account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./layouts/footer.ejs') %>
