<!-- 文章上传页面 -->

<%- include("../layouts/header.ejs") %>

<div class="container my-5">
  <h3 class="my-5">Upload</h3>

  <form
    action="#"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="from-group">
      <input type="file" name="file" />
    </div>
    <button class="btn btn-primary my-3" type="submit">Submit</button>
  </form>
</div>

<%- include("../layouts/footer.ejs") %>
